<style>
    footer {
        margin-top: 10px;
        font-size: 10px;
    }

    nav {
        display: flex;
        gap: 20px;
    }
    .editlink {
        margin-left: 5px;
        font-size: 10px;
        color: red;
    }
</style>
<header>
    <h1>
        <%= title %>
    </h1>
    <nav>
        <a href="/"><div>Главная (список книг)</div></a>
        <a href="/create/"><div>Добавить книгу</div></a>
    </nav>
</header>